* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: rgb(1, 91, 88);
    height: 100vh;
}

body {
    background-color: rgba(1, 91, 88, 0.407);
}